
* {
    margin: 5px;
    padding: auto;
    font-size: 20px;
}

html, body {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #0f3054;
}
body {
    padding: 20px;
    margin-top: 0;
    margin: 5px;
    display: block;
    gap: auto;
    background-color: #d7daf7;
    border-radius: 3px;
}
header {
    display: flex;
    height: auto;
    margin: 0;
    align-content: center;
}
footer {
    text-align: center;
    height: auto;
    width: auto;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 0;
    color: #0f3054;
}

/*
----------------index page--------------------
*/

/*header*/
.header-logo {
    display: inline-block;
    height: 150px;
    width: auto;
    border: none;
}

.header-links {
    display: inline-flex;
    font-size: 18px;
    width: auto;
    height: fit-content;
    color: #001f3f;
    align-self: center;
    margin-left: 27%;
    gap: 5px;
}
.header-links > a {
    text-decoration: none;
}

.header-links a:hover {
    transform: scale(120%);
    color: #d7daf7;
    background-color: #001f3f;
    opacity: 1;
    border-radius: 5px;
    margin: 10px;
}

/*left container*/
.l-side, .r-side {
    display: inline-block;
    width: 49%;
    margin: 0;
    border: none;
    padding: 0;
    align-content: center;
}
.l-side {
    float: inline-start;
}
.logo{
    height: 250px;
    width: 250px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    align-self: center;
}
.l-side > h1 {
    display: block;
    font-family: inherit;
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    position: relative;
    animation: fade 1s ease-in 1s ;
    animation-fill-mode: forwards;
    opacity: 0;
    font-size: 70px;
    color: #0f3054;
}

.l-side > p {
    display: block;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    font-size: 20px;

    color: #0f3054;
}

/*right container*/
.r-side {
    display: flex;

    padding: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

}
.r-images {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    align-self: center;
    width: fit-content;

    float: right;
}
.r-images > img {
    width: 200px; 
    height: 200px;
    display: block;
    margin: auto;
    object-fit: cover;
}
.r-images img:hover {
    transform: scale(150%);
    transition: 0.75s;

}


/*index-keyframes*/
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*-----------------------page template-------------------------------*/
/*
---------------NOTICE--------------------
Styles for header are above
*/

.description {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
.description-image {
    display: inline-block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    
}
.description-text {
    display: inline-block;
    color: #001f3f;
}
.description-text > h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5px;
}
.description-text > p {
    text-align: justify;
    padding-left: 5px;
    color: #0f3054;
}
.ingredients {
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.ingredients > h2 {
    margin-top: 20px;
    color: #001f3f;

}
.ingredients-list {
    display: block;
    list-style-type: none;
    padding-left: 35%;
    margin-top: 20px;
}
.ingredients-list > li {
    text-align: left;
    gap: 10px;
    color: #0f3054;
}
.method {
    display: block;
    text-align: left;
    margin-top: 30px;
    padding-left: 30px;
    color: #001f3f;
}
.method-list {
    margin-top: 20px;
}
.method-list > li {
    text-align: left;
    gap: 10px;
    padding: 10px;
    color: #0f3054;
}
