
* {
    margin: 5px;
    padding: auto;
    font-size: 20px;
}

html, body {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #0f3054;
}
body {
    padding: 20px;
    margin-top: 0;
    margin: 5px;
    display: block;
    gap: auto;
    background-color: #d7daf7;
}
header, footer {
    display: flex;
    height: auto;
    margin: 0;
    align-content: center;
}
footer {
    display: block;
    margin-top: 20px;
    align-items: baseline;
    justify-content: center;
}

/*
----------------index page--------------------
*/

/*header*/
.header-logo {
    display: inline-block;
    height: 150px;
    width: auto;

    border: none;
}

.header-links {
    display: inline-flex;

    color: #001f3f;

}

.header-links a:hover {
    transform: scale(200%);
}

/*left container*/
.l-side, .r-side {
    display: inline-block;
    width: 49%;
    margin: 0;
    border: none;
    padding: 0;
    align-content: center;
}
.l-side {
    float: inline-start;
}
.logo{
    height: 250px;
    width: 250px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    align-self: center;
}
.l-side > h1 {
    display: block;
    font-family: inherit;
    width: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    position: relative;
    animation: fade 1s ease-in 1s ;
    animation-fill-mode: forwards;
    opacity: 0;
    font-size: 70px;
}
.spacer {
    margin: 0;
    width: auto;
    height: 230px;
}
.l-side > p {
    display: block;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

/*right container*/
.r-side {
    display: flex;

    padding: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

}
.r-images {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    align-self: center;
    width: fit-content;

    float: right;
}
.r-images > img {
    width: 200px; 
    height: 200px;
    display: block;
    margin: auto;
}
.r-images img:hover {
    transform: scale(150%);
    transition: 0.75s;

}

/*footer*/
.footer {
    display: block;
    text-align: center;
    
}
.footer > p {
    font-size: 18px;
}

/*inde-keyframes*/
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*-----------------------page template-------------------------------*/
/*
---------------NOTICE--------------------
Styles for header are above
*/

.description {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
.description-image {
    display: inline-block;
    height: 100px;
    width: 100px;
}
.description-text {
    display: inline-block;
}
.description-text > h2 {
    font-size: 30px;
    text-align: left;
    padding-left: 5px;
}
.description-text > p {
    text-align: justify;
    padding-left: 5px;
}
.ingredients {
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.ingredients > h2 {
    margin-top: 20px;
}
.ingredients-list {
    display: block;
    list-style-type: none;
    padding: 0;
}
.ingredients-list > li {
    text-align: center;
    gap: 10px;
}
.method {
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.method-list > li {
    text-align: left;
    gap: 10px;
    padding: 10px;
}
